{% extends 'base.html.twig' %}




{% block body %}
    <div class="foo_list">
        {% for foo in foos %}
            <div class="foo_item">
                {{ chat.bar ?? 'Private' }} 
                <a class="btn btn-sm btn-info" href="{{ path('foo_edit', {'foo': foo.id}) }}">Edit</a>
                <a class="btn btn-sm btn-danger" href="{{ path('foo_delete', {'foo': foo.id}) }}">Delete</a>
            </div>
        {% else %}
            <div class="chat_item">No foos found.</div>
        {% endfor %}
    </div>

    {{ form_start(form)}}
        {{ form_row(form.bar) }}
        {{ form_row(form.price) }}
       
    <div class="mb-3">
        <button class="btn btn-success" type="submit">Create</button>
    </div>

    {{ form_end(form) }}
{% endblock %}